body {
    margin: 0px;
}

.main-container {
    border: 3px solid black;
    padding: 5px;
    width: 330px;
}

.top-panel {
    border: 3px solid black;
    margin-bottom: 1px;
}

.bottom-panel {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.display-screen {
    background-color: rgb(186, 127, 240);
    padding: 30px;

    display: flex;
    justify-content: flex-end;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
}

button {
    display: flex;
    background-color: aqua;
    border-radius: 5px;
    flex: 1;
    height: 50px;
    width: 50px;
    margin: 2px;

    cursor: pointer;
    border: none;
}
