body {
    background-color: rgb(229, 174, 210);
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

* {
    font-family: monospace;
}

h2 {
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    color: #574d4e;
}

.main-container {
    padding: 20px;
    width: 310px;
    min-width: 310px;
    height: 400px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fdfbf7;
    box-shadow:  0px 0px 4px 3px #b46966;
}

.top-panel {
    margin-bottom: 10px;
}

.bottom-panel {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.display-screen {
    padding: 18px;
    display: flex;
    justify-content: flex-end;

    border-radius: 10px;
    color: #574d4e;
    font-size: 24px;
    box-shadow: inset 0px 0px 3px 2px #b46966;
    background-image: linear-gradient(#fbe2c7, #edaaa7);
    flex-wrap: wrap;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
    display: flex;
    flex-grow: 1;
}

button {
    display: flex;
    background-color: #ffb7b2;
    border-radius: 5px;
    flex: 1;

    cursor: pointer;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    color: #574d4e;
    font-size: 18px;
    margin: 5px;
    box-shadow:  0px 2px 3px 1px #a15e58;
}

.row-1 button:first-child,
.row-2 button:first-child,
.row-3 button:first-child,
.row-4 button:first-child,
.row-5 button:first-child {
  margin-left: 0px;
}

.row-1 button:last-child,
.row-2 button:last-child,
.row-3 button:last-child,
.row-4 button:last-child,
.row-5 button:last-child {
  margin-right: 0px;
  background-color: #c8ceed;
  box-shadow:  0px 2px 3px 1px #5b628a;
}

.num {
    background-color: #fdfbf7;
    box-shadow:  0px 2px 3px 1px hsl(2, 34%, 55%);
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 8px;
    color: #574d4e;
}

a { 
    margin-left: 8px;
}
